@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.card {
	width: 32rem;
	height: 35rem;
	border-radius: 3%;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	box-sizing: border-box;
}
.btn-log {
	background-color: #1877f2;
	border: none;
	border-radius: 6px;
	font-size: 25px;
	line-height: 52px;
	padding: 0 16px;
	width: 332px;
	width: 100%;
	margin-top: 2rem;
	font-weight: 500;
	color: white;
}

.inputBx {
	margin-top: 1rem;
	color: #607d8b;
}
.inputBx a {
	color: #ff4584;
}

.btn:hover {
	background-color: #166fe5;
	color: #ffffffe5;
}
.card-title {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container {
	margin-top: 7rem;
	display: flex;
	justify-content: space-evenly;
}

.mb-3 {
	margin-top: 1rem;
}

body {
	background-color: #ececf9b3 !important;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}
