{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'main/wall.css' %}>
{% endblock %}

{% block content %}
    {% include "components/navbar.html" %}
    <div class="jumotron">
        <div class="card container">
            <div class="card-body">
                <h4 class="card-title">Share a Photo or Update with your Friends</h4>
                <form action="/create/" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="text-form form-control-plaintext">
                        {{form.content}}
                    </div>
                    <div class="file-form">
                        {{form.image}}
                    </div>
                    <div class="mt4">
                        <button class="btn btn-primary btn-lg" type="submit">Upload</button>
                    </div>
                </form>
                <br>
                {% for message in messages %}
                <li>
                    <p><em>{{message}}<em></p>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    <section class="feed-posts container">
        {% for post in feed %}
            {% include "main/components/post.html" %}
        {% endfor %}
    </section>
{% endblock %}