<div class="card mb-3 mt-3 card-feed-post">
    {% if post.image %}    
        <img src="/media/{{post.image}}" class="card-img-top" alt="">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{post.user.first_name}} {{post.user.last_name}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="comment-like-body">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="headings  mb-2">
                    <span><i class="bi bi-chat"></i>{{post.comment_set.count}}</span>
                    <span class="likes"><i class="bi bi-hand-thumbs-up"></i></span>                
                </div>
                <div class="comment-form">
                    <form action="/post/{{post.id}}/comment/" method="post">
                        {% csrf_token %}
                        <label for={{comment_form.content.id_for_label}}>Comment</label>
                        {{comment_form.content}}
                        <button type="submit"><i class="bi bi-arrow-right-square-fill"></i></button>
                    </form>
                </div>
                <div class="comments">
                    {% for comment in post.comment_set.all %}
                        <div class="card-comment p-3">
                            <div class="comment-user">
                                <div class="user"> 
                                    <img src="https://i.imgur.com/hczKIze.jpg"width="30" class="user-img rounded-circle mr-2"> 
                                    <span><small class="font-weight-bold text-primary">{{comment.user.username}}</small> </span>
                                </div>
                            </div> 
                            <div class="comment-text">
                                <small class="font-weight-bold">{{comment.content}}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<style>
.card-feed-post{
    border-radius: 3%;
    padding: 2rem;
}
.card-comment {
    box-shadow: 1px 2px 5px 3px #d5e0eb;
    border-radius: 0.4rem;
}
.comment-user {
    margin-left: 1rem;
}
.user {
    display: grid;
    justify-content: start;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
}
</style>
