.card {
	margin-top: 2rem;
	border-radius: 0.75rem;
}
.card-body {
	padding: 2rem;
}

.card-title {
	font-size: 1.5rem;
	font-family: initial;
	margin-bottom: 1rem;
}
.text-form {
	display: grid;
}
.file-form {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.card-body #id_content {
	border: 1px solid #a1b2eb;
	border-radius: 0.75rem;
}
section.feed-posts {
	margin-top: 3rem;
	padding: 5rem;
}
img.card-img-top {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
@media screen and (min-width: 900px) {
	.card-feed-post {
		margin: 10rem;
	}
}
