{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static  'auth/login.css' %}>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="usernameInput" >
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput">
                    </div>
                    <button type="submit" class="btn btn-log">Login</button>
                </form>
                {% for message in messages %}
                    <br>
                    <li><p><em>{{message}}<em></p></li>
                {% endfor %}
                <div class="inputBx">
                    <p>Don't have an account? <a href={% url 'signup' %}>Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}